{% extends 'pbase.html' %}

{% block content %}
    <h1 class="text-center">Update Category</h1>
<!-- Default form contact -->
<form class="text-center border border-light p-5" mehtod="POST" action="/product/category/update/{{data.id}}/">
{% csrf_token %}  


    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4"name="c_name" placeholder="Category"value="{{ data.c_name }}">
 





    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Update</button>

</form>
{% endblock %}