{% extends 'abase.html' %}

{% block content %}
    <h1 class="text-center">Add User</h1>
<!-- Default form contact -->
<form class="text-center border border-light p-5" method="POST" action="">
{% csrf_token %}  


    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4"name="fname" placeholder="fname">
    <input type="text" id="defaultContactFormName" class="form-control mb-4"name="lname" placeholder="lname">
    <input type="email" id="defaultContactFormName" class="form-control mb-4"name="email" placeholder="email">
    <input type="password" id="defaultContactFormName" class="form-control mb-4"name="password" placeholder="passowrd">






    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Send</button>

</form>
{% endblock %}