{% extends 'abase.html' %}

{% block content %}
    <h1 class="text-center">List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
   
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% for data in datas %}
            <tr>
                <td > {{data.fname}}</td>
                <td> {{data.lname}}</td>
                <td> {{data.email}}</td>
                <td> {{data.password}}</td>
                <td>
            <a class="btn btn-info btn-lg" href="/firstapp/edit/{{ data.id }}">
            Edit
            </a>  
            <a class="btn btn-info btn-lg" href="/firstapp/delete/{{ data.id }}">
           Delete
            </a>
        </td>
            </tr>
        {% endfor %}
    
  </tbody>
</table>
{% endblock %}