{% extends 'pbase.html' %}

{% block content %}
    <h1 class="text-center">Category List</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
   
      <th scope="col">Product Name</th>
      <th scope="col"> Catgory</th>
      <th scope="col"> Price</th>
      <th scope="col"> Status</th>
      <th scope="col"> Image</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% for data in datas %}
            <tr>
                <td > {{data.p_name}}</td>
                <td > {{data.p_c_name_id}}</td>
                <td > {{data.p_price}}</td>
                <td > {{data.status}}</td>
                <td > <img src="{{ data.image.url }}" height="100px"width="100px;"> </td>
             
                <td>
            <a class="btn btn-info btn-lg" href="/product/product-edit/{{ data.id }}">
            Edit
            </a>  
            <a class="btn btn-info btn-lg" href="/product/product-delete/{{ data.id }}">
           Delete
            </a>
        </td>
            </tr>
        {% endfor %}
    
  </tbody>
</table>
{% endblock %}